body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}


.addUser {
    width: 350px;
    background-color: hsl(30, 14%, 97%);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 60px;
}

.addUser h3 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

/* Ensure no conflicting CSS styles are applied */
.inputGroup {
    position: relative;
    /* or absolute if needed */
    margin-bottom: 15px;
}

.inputGroup input,
.inputGroup select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    /* Ensure padding and border are included in width */
}

input:focus,
select:focus {
    outline: 2px solid #007bff;
    /* Add focus outline for better visibility */
}

.inputGroup:last-child {
    margin-bottom: 20px;
}

.userRoleInput {
    margin-bottom: 20px;
}

.inputGroup button {
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    background-color: #e92828;
    color: white;
    border: black;
    border-radius: 4px;
}

.inputGroup button:hover {
    background-color: #beefc9;
}